doctype html
html
  head
    title Voting results for world peace
  body
    div(id="answer") no answer
    div(id="state") Disconnected
  script(src="//code.jquery.com/jquery-2.1.4.min.js")
  script.
    if (!!window.EventSource) {
      var source = new EventSource('/stream?randomQR=#{QR}')

      source.addEventListener('message', function(e) {
        answer = JSON.parse(e.data)
        $("#answer").text("Yes: " + answer)
      }, false)

      source.addEventListener('open', function(e) {
        $("#state").text("Connected")
      }, false)

      source.addEventListener('error', function(e) {
        if (e.target.readyState == EventSource.CLOSED) {
          $("#state").text("Disconnected")
        }
        else if (e.target.readyState == EventSource.CONNECTING) {
          $("#state").text("Connecting...")
        }
      }, false)
    } else {
      console.log("Your browser doesn't support SSE")
    }